* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(25, 29, 31);
  color: #EEE;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a {
  color: rgba(251, 41, 41, 1);
}

@media only screen and (max-width: 800px) {
  #main {
    flex-direction: column;
  }
  #map {
    padding-left: 0;
  }
  #data {
    max-width: none !important;
  }
}

#main {
  display: flex;
  flex-basis: 0;
  max-width: 1000px;
  margin: 0em auto;
  padding: 1em;
}

#map {
  flex-shrink: 1;
  flex-grow: 0;
  padding-left: 1em;
}

#data {
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 50%;
}

svg {
  height: 100%;
  width: 100%;
}

path, polygon {
  fill: #999;
  opacity: .8;
}

path:hover, polygon:hover {
  opacity: 1;
}

h1 {
  margin-bottom: .5em;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #CCC;
}

p {
  margin-bottom: .5em;
}

rect, text {
  pointer-events: none;
}

section {
  padding: .5em;
  margin: 1em 0;
  background: #111;
}
